/* Global css overrides */

h1 {
	font-size: 2rem;
}

h2,
.fakeH2 {
	font-size: 1.4rem;
	margin-bottom: 0.8rem;
}

.container {
	padding: 20px 0;
}

.fakeLink {
	cursor: pointer;
}

.expand {
	font-size: 0.8rem;
}

button {
	border-radius: 2rem;
	background-color: #05b6f5;
}

button.main {
	background-color: #f5dc05;
	width: 10rem;
	height: 3rem;
	font-weight: bold;
	font-size: 1.3rem;
}
