// Your variable overrides can go here, e.g.:
// $h1-font-size: 3rem;

@import "~bootswatch/dist/Superhero/variables";
@import "~bootstrap";
@import "~bootswatch/dist/Superhero/bootswatch";

.wptah-section {
  margin-top: 4rem;
}
.fakeLink {
  cursor: pointer;
}

.table {
  font-size: 0.75rem;
}
